@using PlatformCodeBuilder.Models.TemplateModels
@inherits RazorEngine.Templating.TemplateBase<PlatformCodeBuilder.Models.TemplateModels.EntityFileModel>
<page-header> </page-header>
<nz-card>
    <sf mode="search" [schema]="searchSchema" (formSubmit)="doSearch($event)" (formReset)="st.reset($event)"></sf>
    <div style="margin-bottom: 9px;">
        <button nz-button [nzType]="'primary'" *ngIf="isGranted('Pages.@(Model.Name)s.Edit')" (click)="create()">
            <span>
                {{ 'Create' | translate }}
            </span>
        </button>
        <ng-container *ngIf="selectedDataItems.length > 0">
            <button nz-button [nzType]="'danger'" *ngIf="isGranted('Pages.@(Model.Name)s.Delete')" (click)="batchDelete()">
                <span>
                    {{ 'DeleteSelected' | translate }}
                </span>
            </button>
        </ng-container>
    </div>
    <st #st
        [data]="dataList"
        [columns]="columns"
        [pi]="pageingInfo.pageNumber"
        [ps]="pageingInfo.pageSize"
        [total]="pageingInfo.totalItems"
        [loading]="pageingInfo.isTableLoading"
        (change)="change($event)"
        [page]="{ front: false, showSize: true, showQuickJumper: true }"></st>
</nz-card>
